ENVIRONMENT=dev_or_prod
SECRET_KEY=your_secret_key

# Email Config - SMTP (Simple Message Transfer Protocol)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com # Or other host providers
EMAIL_USE_TLS=True
EMAIL_PORT=587
EMAIL_HOST_USER=email_host_user_email
EMAIL_HOST_PASSWORD=email_host_password

# Database Configuration
POSTGRES_DATABASE_NAME=db_name
POSTGRES_USER=db_username
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DEFAULT_ADMIN_EMAIL=default_admin_email_id
FRONTEND_BASE_URL=
BACKEND_URL=

# AWS Config
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_SIGNATURE_VERSION=

# Attestr (Third party api provider)
ATTESTR_API_TOKEN=
ATTESTR_CLIENT_ID=
ATTESTR_CLIENT_KEY=
ATTESTR_CLIENT_SECRET=